top: {
  config,
  lib,
  ...
}: let
  roleName = "{{ name }}-${(lib.importJSON ./meta.json).id}";
  cfg = config.idr.roles.${roleName};
in {
  key = toString ./nixos-module.nix;

  options.idr.roles.${roleName}.enable = lib.mkEnableOption "the {{ name }} role";

  config = lib.mkIf cfg.enable {};
}
