top: {
  inputs,
  lib,
  config,
  self,
  ...
}: {
  flake.nixosConfigurations."{{ name }}" = with inputs.nixpkgs.lib;
    makeOverridable nixosSystem {
      system = "x86_64-linux";
      modules = top.idr-lib.importApplyAll top [./configuration.nix];
    };
}
